@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.wrapped_container {
	margin: 45px auto;
}

.wrapped_table {
	
	width: 1000px;
	margin: 0px auto;
}

tr {
	height: 30px;
}

th, td {
	padding: 10px;
}

.board_table {
	border-top: 1px solid black;
	border-collapse: collapse;
	
}

.tr_list {
	border-top: 1px solid black;
	border-bottom: 1px solid #f0f0f0;
}
.table_bno {
	width: 100px;
	text-align: center;
}

.table_title {
	width: 500px;
	text-align: center;
}

.table_title > a {
	color: black;
}

.table_writer {
	width: 200px;
	text-align: center;
}

.table_date {
	width: 200px;
	text-align: center;
}

.write_btn {
	font-size: 15px;
	margin-top: 30px;
}