@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.footer_write {
	text-align: center;
}
.list_item {
	display: inline-flex;
}

.wrapper_footer > p {
	text-align: center;
}