@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.wrapper_read {
	width: 1300px;
	height: 580px;
	margin: 20px auto;
}

.read_head {
	border-bottom: 2px solid black;
}

.read_table {
	margin-top: 30px;
	border-collapse: collapse;
}

tr , td {
	border: 1px solid;
}

.read_table_title > th {
	width: 100px;
	height: 30px;
}

.read_table_title > td {
	width: 300px;
}

.read_content {
	width: 600px;
	height: 350px;
}

.field3 {
	margin: 20px 0px;
}

#list_btn  {
	width: 100px;
	height: 35px;
	background-color: black;
	color: white;
	font-size: 20px;
	margin-left: 25px;
	border: 0px;
}

#modify_btn {
	width: 100px;
	height: 35px;
	background-color: #00ff40;
	color: black;
	font-size: 20px;
	margin-left: 25px;
	border: 0px;
}

/* 댓글 css */
.read_reply_con {
	margin-left: 200px;
	width: 500px;
}

.reply_tab {
	display: flex;
	position: relative;
}
h4 {
	display: inline;
}
.read_reply {
	display: inline;
	position: absolute;right: 0px;
}

.reply > li {
	margin-top: 10px;
	
	/*background-color: yellow;*/
	border-bottom: 1px solid #f0f0f0;
}

.panel-footer {
	/*background-color: red; */
	margin: auto;
	display: flex;
	width: fit-content;
	text-align: center;
}

.paginate_button {
	width: 100px;
}