@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
	width : 1500px;
	height: 150px;
  	margin: 0px auto;
	background-color: #ff6f6f; 
	position: relative;
}

.containerGet {
	width : 1500px;
	height: 150px;
  /* 	background-color: #e6e6e6; */
  	margin: 0px auto;
	background-color: #ff6f6f; 
	position: relative;	
}

.wrapper_title {
	font-size: 45px;
	margin: 0px auto;
	/* box-sizing: border-box; */
	padding-top: 10px; 
}

.wrapper_title span {
	/* background-color: green; */
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: bolder;
}

.menu-item-con {
	display: flex;
	position: absolute; right: 0px; bottom: 0px;
}

.menu-item-con > a {
	color: black;
	width: 500px;
	height: 50px;
	background-color: yellow;
	font-size : 20px;
	justify-content: center;
	align-items: center;	
  	display: inline-flex;
}

.menu-item-con > a:hover {
	background-color: black;
	color : white;
	font-weight: bolder;
	text-decoration: none;
}



/* footer.jsp */

.footer_write {
	width: 1000px;
	text-align: center;
	margin: 0px auto;
}
.list_item {
	display: inline-flex;
}

.wrapper_footer > p {
	width: 1000px;
	margin: 0px auto;
	text-align: center;
}