@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.wrapped_login {
	margin: 0px auto;
	width: 990px;
	height: 500px;
	vertical-align: middle;
	position: relative;
	

}

form {
	width: 500px;
	height: 350px;
	margin: auto;
	margin-top : 150px;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.form_id :first-child {
	display: block;
	color: #b700b7;
	font-weight: bolder;
}

.form_pw :first-child {
	display: block;
	color: #b700b7;
	font-weight: bolder;
	margin-top: 20px;
}
.id_control {
	width: 500px;
	height: 39px;
}

.pw_control {
	width: 500px;
	height: 39px;
}

.login_button {
	width: 500px;
	height: 35px;
	margin-top: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
	font-weight: bolder;
}

