@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.wrapper_read {
	width: 1000px;
	height: 580px;
	margin: 30px auto;
}

.read_head {
	border-bottom: 2px solid black;
}

.read_table {
	margin: 10px 0px;
}