<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongang.mapper.AdminMapper">
	<insert id="bookEnroll">
		insert into tbl_book_product (bookName, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents)
  		  values (#{bookName}, #{publeYear}, #{publisher}, #{cateCode}, #{bookPrice}, #{bookStock}, #{bookDiscount}, #{bookIntro}, #{bookContents})
		<selectKey keyProperty="bookId" resultType="int" order="AFTER">
			select tbl_book_product_seq.currval as bookId from dual
		</selectKey>
	</insert>
</mapper>