<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongang.mapper.NoticeMapper">
	<insert id="insert">
		insert into tbl_notice (notice, noticer) 
			values (#{notice}, #{noticer})
	</insert>
	
	<select id="getList" resultType="com.joongang.domain.NoticeVO">
		<![CDATA[
			select /*+INDEX_DESC(TBL_NOTICE TBL_NOTICE_PK) */
				rno, notice, noticer, regdate, updatedate
			from tbl_notice
		]]>
	</select>
</mapper>